<p style="text-align:center">
    <a href="https://skills.network" target="_blank">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo">
    </a>
</p>

<h1 align=center><font size = 5>Assignment: SQL Notebook for Peer Assignment</font></h1>

Estimated time needed: **60** minutes.

## Introduction
Using this Python notebook you will:

1.  Understand the Spacex DataSet
2.  Load the dataset  into the corresponding table in a Db2 database
3.  Execute SQL queries to answer assignment questions

## Overview of the DataSet

SpaceX has gained worldwide attention for a series of historic milestones. 

It is the only private company ever to return a spacecraft from low-earth orbit, which it first accomplished in December 2010.
SpaceX advertises Falcon 9 rocket launches on its website with a cost of 62 million dollars wheras other providers cost upward of 165 million dollars each, much of the savings is because Space X can reuse the first stage. 


Therefore if we can determine if the first stage will land, we can determine the cost of a launch. 

This information can be used if an alternate company wants to bid against SpaceX for a rocket launch.

This dataset includes a record for each payload carried during a SpaceX mission into outer space.

### Download the datasets

This assignment requires you to load the spacex dataset.

In many cases the dataset to be analyzed is available as a .CSV (comma separated values) file, perhaps on the internet. Click on the link below to download and save the dataset (.CSV file):

 <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/data/Spacex.csv" target="_blank">Spacex DataSet</a>

In [2]:
!pip install sqlalchemy==1.3.9

Requirement already satisfied: sqlalchemy==1.3.9 in c:\users\lenovo\documents\python scripts\lib\site-packages (1.3.9)

### Connect to the database

Let us first load the SQL extension and establish a connection with the database

In [3]:
!pip install ipython-sql
!pip install ipython-sql prettytable

Collecting ipython-sql
  Obtaining dependency information for ipython-sql from https://files.pythonhosted.org/packages/30/8f/9e50fa53ffc371483f9d1b90c1175b706d28a2e978e90a8894035af01905/ipython_sql-0.5.0-py3-none-any.whl.metadata
  Downloading ipython_sql-0.5.0-py3-none-any.whl.metadata (17 kB)
Collecting prettytable (from ipython-sql)
  Obtaining dependency information for prettytable from https://files.pythonhosted.org/packages/02/c7/5613524e606ea1688b3bdbf48aa64bafb6d0a4ac3750274c43b6158a390f/prettytable-3.16.0-py3-none-any.whl.metadata
  Downloading prettytable-3.16.0-py3-none-any.whl.metadata (33 kB)
Requirement already satisfied: ipython in c:\users\lenovo\documents\python scripts\lib\site-packages (from ipython-sql) (8.15.0)
Collecting sqlalchemy>=2.0 (from ipython-sql)
  Obtaining dependency information for sqlalchemy>=2.0 from https://files.pythonhosted.org/packages/cd/57/f0369e53e3031afabf5a7f7b78134037245dfed8b884d4d0e1a9c87b7c0f/sqlalchemy-2.0.39-cp311-cp311-win_amd64.whl.metadata
  Downloading sqlalchemy-2.0.39-cp311-cp311-win_amd64.whl.metadata (9.9 kB)
Collecting sqlparse (from ipython-sql)
  Obtaining dependency information for sqlparse from https://files.pythonhosted.org/packages/a9/5c/bfd6bd0bf979426d405cc6e71eceb8701b148b16c21d2dc3c261efc61c7b/sqlparse-0.5.3-py3-none-any.whl.metadata
  Downloading sqlparse-0.5.3-py3-none-any.whl.metadata (3.9 kB)
Requirement already satisfied: six in c:\users\lenovo\documents\python scripts\lib\site-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: ipython-genutils in c:\users\lenovo\documents\python scripts\lib\site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\lenovo\documents\python scripts\lib\site-packages (from sqlalchemy>=2.0->ipython-sql) (2.0.1)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\lenovo\documents\python scripts\lib\site-packages (from sqlalchemy>=2.0->ipython-sql) (4.7.1)
Requirement already satisfied: backcall in c:\users\lenovo\documents\python scripts\lib\site-packages (from ipython->ipython-sql) (0.2.0)
Requirement already satisfied: decorator in c:\users\lenovo\documents\python scripts\lib\site-packages (from ipython->ipython-sql) (5.1.1)
Requirement already satisfied: jedi>=0.16 in c:\users\lenovo\documents\python scripts\lib\site-packages (from ipython->ipython-sql) (0.18.1)
Requirement already satisfied: matplotlib-inline in c:\users\lenovo\documents\python scripts\lib\site-packages (from ipython->ipython-sql) (0.1.6)
Requirement already satisfied: pickleshare in c:\users\lenovo\documents\python scripts\lib\site-packages (from ipython->ipython-sql) (0.7.5)
Requirement already satisfied: prompt-toolkit!=3.0.37,<3.1.0,>=3.0.30 in c:\users\lenovo\documents\python scripts\lib\site-packages (from ipython->ipython-sql) (3.0.36)
Requirement already satisfied: pygments>=2.4.0 in c:\users\lenovo\documents\python scripts\lib\site-packages (from ipython->ipython-sql) (2.15.1)
Requirement already satisfied: stack-data in c:\users\lenovo\documents\python scripts\lib\site-packages (from ipython->ipython-sql) (0.2.0)
Requirement already satisfied: traitlets>=5 in c:\users\lenovo\documents\python scripts\lib\site-packages (from ipython->ipython-sql) (5.7.1)
Requirement already satisfied: colorama in c:\users\lenovo\documents\python scripts\lib\site-packages (from ipython->ipython-sql) (0.4.6)
Requirement already satisfied: wcwidth in c:\users\lenovo\documents\python scripts\lib\site-packages (from prettytable->ipython-sql) (0.2.5)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in c:\users\lenovo\documents\python scripts\lib\site-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.3)
Requirement already satisfied: executing in c:\users\lenovo\documents\python scripts\lib\site-packages (from stack-data->ipython->ipython-sql) (0.8.3)
Requirement already satisfied: asttokens in c:\users\lenovo\documents\python scripts\lib\site-packages (from stack-data->ipython->ipython-sql) (2.0.5)
Requirement already satisfied: pure-eval in c:\users\lenovo\documents\python scripts\lib\site-packages (from stack-data->ipython->ipython-sql) (0.2.2)
Downloading ipython_sql-0.5.0-py3-none-any.whl (20 kB)
Downloading sqlalchemy-2.0.39-cp311-cp311-win_amd64.whl (2.1 MB)
   ---------------------------------------- 0.0/2.1 MB ? eta -:--:--
    --------------------------------------- 0.1/2.1 MB ? eta -:--:--
    --------------------------------------- 0.1/2.1 MB ? eta -:--:--
   - -------------------------------------- 0.1/2.1 MB 919.0 kB/s eta 0:00:03
   --- ------------------------------------ 0.2/2.1 MB 1.4 MB/s eta 0:00:02
   --- ------------------------------------ 0.2/2.1 MB 1.4 MB/s eta 0:00:02
   ------ --------------------------------- 0.3/2.1 MB 1.4 MB/s eta 0:00:02
   --------- ------------------------------ 0.5/2.1 MB 1.6 MB/s eta 0:00:02
   ----------- ---------------------------- 0.6/2.1 MB 1.8 MB/s eta 0:00:01
   -------------- ------------------------- 0.8/2.1 MB 1.9 MB/s eta 0:00:01
   ----------------- ---------------------- 0.9/2.1 MB 2.0 MB/s eta 0:00:01
   --------------------- ------------------ 1.1/2.1 MB 2.3 MB/s eta 0:00:01
   ----------------------- ---------------- 1.2/2.1 MB 2.3 MB/s eta 0:00:01
   ------------------------ --------------- 1.3/2.1 MB 2.4 MB/s eta 0:00:01
   ----------------------------- ---------- 1.6/2.1 MB 2.5 MB/s eta 0:00:01
   --------------------------------- ------ 1.8/2.1 MB 2.6 MB/s eta 0:00:01
   ------------------------------------- -- 2.0/2.1 MB 2.7 MB/s eta 0:00:01
   ---------------------------------------- 2.1/2.1 MB 2.7 MB/s eta 0:00:00
Downloading prettytable-3.16.0-py3-none-any.whl (33 kB)
Downloading sqlparse-0.5.3-py3-none-any.whl (44 kB)
   ---------------------------------------- 0.0/44.4 kB ? eta -:--:--
   ---------------------------------------- 44.4/44.4 kB ? eta 0:00:00
Installing collected packages: sqlparse, sqlalchemy, prettytable, ipython-sql
  Attempting uninstall: sqlalchemy
    Found existing installation: SQLAlchemy 1.3.9
    Uninstalling SQLAlchemy-1.3.9:
      Successfully uninstalled SQLAlchemy-1.3.9
Successfully installed ipython-sql-0.5.0 prettytable-3.16.0 sqlalchemy-2.0.39 sqlparse-0.5.3

ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
datacube 1.8.19 requires sqlalchemy<2.0,>=1.4, but you have sqlalchemy 2.0.39 which is incompatible.

Requirement already satisfied: ipython-sql in c:\users\lenovo\documents\python scripts\lib\site-packages (0.5.0)
Requirement already satisfied: prettytable in c:\users\lenovo\documents\python scripts\lib\site-packages (3.16.0)
Requirement already satisfied: ipython in c:\users\lenovo\documents\python scripts\lib\site-packages (from ipython-sql) (8.15.0)
Requirement already satisfied: sqlalchemy>=2.0 in c:\users\lenovo\documents\python scripts\lib\site-packages (from ipython-sql) (2.0.39)
Requirement already satisfied: sqlparse in c:\users\lenovo\documents\python scripts\lib\site-packages (from ipython-sql) (0.5.3)
Requirement already satisfied: six in c:\users\lenovo\documents\python scripts\lib\site-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: ipython-genutils in c:\users\lenovo\documents\python scripts\lib\site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: wcwidth in c:\users\lenovo\documents\python scripts\lib\site-packages (from prettytable) (0.2.5)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\lenovo\documents\python scripts\lib\site-packages (from sqlalchemy>=2.0->ipython-sql) (2.0.1)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\lenovo\documents\python scripts\lib\site-packages (from sqlalchemy>=2.0->ipython-sql) (4.7.1)
Requirement already satisfied: backcall in c:\users\lenovo\documents\python scripts\lib\site-packages (from ipython->ipython-sql) (0.2.0)
Requirement already satisfied: decorator in c:\users\lenovo\documents\python scripts\lib\site-packages (from ipython->ipython-sql) (5.1.1)
Requirement already satisfied: jedi>=0.16 in c:\users\lenovo\documents\python scripts\lib\site-packages (from ipython->ipython-sql) (0.18.1)
Requirement already satisfied: matplotlib-inline in c:\users\lenovo\documents\python scripts\lib\site-packages (from ipython->ipython-sql) (0.1.6)
Requirement already satisfied: pickleshare in c:\users\lenovo\documents\python scripts\lib\site-packages (from ipython->ipython-sql) (0.7.5)
Requirement already satisfied: prompt-toolkit!=3.0.37,<3.1.0,>=3.0.30 in c:\users\lenovo\documents\python scripts\lib\site-packages (from ipython->ipython-sql) (3.0.36)
Requirement already satisfied: pygments>=2.4.0 in c:\users\lenovo\documents\python scripts\lib\site-packages (from ipython->ipython-sql) (2.15.1)
Requirement already satisfied: stack-data in c:\users\lenovo\documents\python scripts\lib\site-packages (from ipython->ipython-sql) (0.2.0)
Requirement already satisfied: traitlets>=5 in c:\users\lenovo\documents\python scripts\lib\site-packages (from ipython->ipython-sql) (5.7.1)
Requirement already satisfied: colorama in c:\users\lenovo\documents\python scripts\lib\site-packages (from ipython->ipython-sql) (0.4.6)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in c:\users\lenovo\documents\python scripts\lib\site-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.3)
Requirement already satisfied: executing in c:\users\lenovo\documents\python scripts\lib\site-packages (from stack-data->ipython->ipython-sql) (0.8.3)
Requirement already satisfied: asttokens in c:\users\lenovo\documents\python scripts\lib\site-packages (from stack-data->ipython->ipython-sql) (2.0.5)
Requirement already satisfied: pure-eval in c:\users\lenovo\documents\python scripts\lib\site-packages (from stack-data->ipython->ipython-sql) (0.2.2)

In [4]:
%load_ext sql

In [44]:
import csv, sqlite3
import prettytable
prettytable.DEFAULT = 'DEFAULT'

con = sqlite3.connect("my_data1.db")
cur = con.cursor()
import pandas as pd
df = pd.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/data/Spacex.csv")
df.to_sql("SPACEXTBL", con, if_exists='replace', index=False,method="multi")

101

In [45]:
!pip install -q pandas

In [46]:
%sql sqlite:///my_data1.db

In [47]:
import pandas as pd
df = pd.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/data/Spacex.csv")
df.to_sql("SPACEXTBL", con, if_exists='replace', index=False,method="multi")

101

**Note:This below code is added to remove blank rows from table**

In [48]:
#DROP THE TABLE IF EXISTS

%sql DROP TABLE IF EXISTS SPACEXTABLE;

 * sqlite:///my_data1.db
Done.

[]

In [49]:
%sql create table SPACEXTABLE as select * from SPACEXTBL where Date is not null

 * sqlite:///my_data1.db
Done.

[]

## Tasks

Now write and execute SQL queries to solve the assignment tasks.

**Note: If the column names are in mixed case enclose it in double quotes
   For Example "Landing_Outcome"**

### Task 1




##### Display the names of the unique launch sites  in the space mission

In [50]:
import sqlite3
import pandas as pd

# Load the dataset into SQLite
df = pd.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/data/Spacex.csv")

# Establish SQLite database connection
con = sqlite3.connect("my_data1.db")
df.to_sql("SPACEXTBL", con, if_exists='replace', index=False, method="multi")

# Ensure the connection is open before running the query
try:
    # Create a cursor object
    cur = con.cursor()

    # SQL query to list all columns in the table
    query = 'PRAGMA table_info(SPACEXTBL)'
    cur.execute(query)

    # Fetch and display the column information
    columns = cur.fetchall()
    print("Columns in SPACEXTBL:")
    for column in columns:
        print(column[1])  # This prints the column names

finally:
    # Close the connection
    con.close()

Columns in SPACEXTBL:
Date
Time (UTC)
Booster_Version
Launch_Site
Payload
PAYLOAD_MASS__KG_
Orbit
Customer
Mission_Outcome
Landing_Outcome

In [52]:
import sqlite3
import pandas as pd

# Load the dataset into a SQLite database
df = pd.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/data/Spacex.csv")

# Establish SQLite database connection
con = sqlite3.connect("my_data1.db")
df.to_sql("SPACEXTBL", con, if_exists='replace', index=False, method="multi")

# Ensure the connection is open before running the query
try:
    # Create a cursor object
    cur = con.cursor()

    # SQL query to fetch unique launch site names
    query = 'SELECT DISTINCT "Launch_Site" FROM SPACEXTBL'
    cur.execute(query)

    # Fetch and display the results
    unique_launch_sites = cur.fetchall()
    print("Unique Launch Sites:")
    for site in unique_launch_sites:
        print(site[0])

finally:
    # Close the connection
    con.close()

Unique Launch Sites:
CCAFS LC-40
VAFB SLC-4E
KSC LC-39A
CCAFS SLC-40


### Task 2


#####  Display 5 records where launch sites begin with the string 'CCA'

In [53]:
import sqlite3
import pandas as pd

# Load the dataset into SQLite
df = pd.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/data/Spacex.csv")

# Establish SQLite database connection
con = sqlite3.connect("my_data1.db")
df.to_sql("SPACEXTBL", con, if_exists='replace', index=False, method="multi")

# Ensure the connection is open before running the query
try:
    # Create a cursor object
    cur = con.cursor()

    # SQL query to fetch five records where LaunchSite begins with 'CCA'
    query = 'SELECT * FROM SPACEXTBL WHERE "Launch_Site" LIKE "CCA%" LIMIT 5'
    cur.execute(query)

    # Fetch and display the results
    launch_sites = cur.fetchall()
    print("Launch Sites starting with 'CCA':")
    for record in launch_sites:
        print(record)

finally:
    # Close the connection
    con.close()

Launch Sites starting with 'CCA':
('2010-06-04', '18:45:00', 'F9 v1.0  B0003', 'CCAFS LC-40', 'Dragon Spacecraft Qualification Unit', 0, 'LEO', 'SpaceX', 'Success', 'Failure (parachute)')
('2010-12-08', '15:43:00', 'F9 v1.0  B0004', 'CCAFS LC-40', 'Dragon demo flight C1, two CubeSats, barrel of Brouere cheese', 0, 'LEO (ISS)', 'NASA (COTS) NRO', 'Success', 'Failure (parachute)')
('2012-05-22', '7:44:00', 'F9 v1.0  B0005', 'CCAFS LC-40', 'Dragon demo flight C2', 525, 'LEO (ISS)', 'NASA (COTS)', 'Success', 'No attempt')
('2012-10-08', '0:35:00', 'F9 v1.0  B0006', 'CCAFS LC-40', 'SpaceX CRS-1', 500, 'LEO (ISS)', 'NASA (CRS)', 'Success', 'No attempt')
('2013-03-01', '15:10:00', 'F9 v1.0  B0007', 'CCAFS LC-40', 'SpaceX CRS-2', 677, 'LEO (ISS)', 'NASA (CRS)', 'Success', 'No attempt')

### Task 3




##### Display the total payload mass carried by boosters launched by NASA (CRS)

In [84]:
import sqlite3
import pandas as pd

# Load the dataset into SQLite
df = pd.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/data/Spacex.csv")

# Establish SQLite database connection
con = sqlite3.connect("my_data1.db")
df.to_sql("SPACEXTBL", con, if_exists='replace', index=False, method="multi")

# Ensure the connection is open before running the query
try:
    # Create a cursor object
    cur = con.cursor()

    # SQL query to calculate the total payload mass for NASA CRS launches
    query = '''
    SELECT SUM(PAYLOAD_MASS__KG_) AS TotalPayloadMass
    FROM SPACEXTBL
    WHERE Customer = 'NASA (CRS)';
    '''
    
    # Execute the query
    cur.execute(query)
    
    # Fetch and display the result
    result = cur.fetchone()
    if result and result[0] is not None:  # Ensure the result is not None
        print("Total Payload Mass carried by NASA (CRS) boosters:")
        print(result[0], "kg")
    else:
        print("No data found for NASA (CRS) boosters.")

finally:
    # Close the connection
    con.close()

Total Payload Mass carried by NASA (CRS) boosters:
45596 kg

### Task 4




##### Display average payload mass carried by booster version F9 v1.1

In [83]:
import sqlite3
import pandas as pd

# Load the dataset into SQLite
df = pd.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/data/Spacex.csv")

# Establish SQLite database connection
con = sqlite3.connect("my_data1.db")
df.to_sql("SPACEXTBL", con, if_exists='replace', index=False, method="multi")

# Ensure the connection is open before running the query
try:
    # Create a cursor object
    cur = con.cursor()

    # SQL query to calculate the average payload mass for booster version 'F9 v1.1'
    query = '''
    SELECT AVG("PAYLOAD_MASS__KG_") AS AveragePayloadMass
    FROM SPACEXTBL
    WHERE "Booster_Version" = 'F9 v1.1';
    '''
    cur.execute(query)

    # Fetch and display the result
    result = cur.fetchone()
    print("Average Payload Mass for Booster Version 'F9 v1.1':")
    print(result[0])

finally:
    # Close the connection
    con.close()

Average Payload Mass for Booster Version 'F9 v1.1':
2928.4

### Task 5

##### List the date when the first succesful landing outcome in ground pad was acheived.


_Hint:Use min function_

In [86]:
import sqlite3
import pandas as pd

# Load the dataset into SQLite
df = pd.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/data/Spacex.csv")

# Establish SQLite database connection
con = sqlite3.connect("my_data1.db")
df.to_sql("SPACEXTBL", con, if_exists='replace', index=False, method="multi")

# Ensure the connection is open before running the query
try:
    # Create a cursor object
    cur = con.cursor()

    # SQL query to find the first successful landing on a ground pad
    query = '''
    SELECT MIN(Date) AS FirstSuccessfulLandingDate
    FROM SPACEXTBL
    WHERE "Landing_Outcome" = 'Success (ground pad)';
    '''
    cur.execute(query)

    # Fetch and display the result
    result = cur.fetchone()
    print("Date of the First Successful Landing on Ground Pad:")
    print(result[0])

finally:
    # Close the connection
    con.close()

Date of the First Successful Landing on Ground Pad:
2015-12-22

### Task 6

##### List the names of the boosters which have success in drone ship and have payload mass greater than 4000 but less than 6000

In [87]:
import sqlite3
import pandas as pd

# Load the dataset into SQLite
df = pd.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/data/Spacex.csv")

# Establish SQLite database connection
con = sqlite3.connect("my_data1.db")
df.to_sql("SPACEXTBL", con, if_exists='replace', index=False, method="multi")

# Ensure the connection is open before running the query
try:
    # Create a cursor object
    cur = con.cursor()

    # SQL query to fetch boosters with successful drone ship landings and payload mass in the specified range
    query = '''
    SELECT DISTINCT "BoosterVersion"
    FROM SPACEXTBL
    WHERE "Landing_Outcome" = 'Success (drone ship)'
    AND "PAYLOAD_MASS__KG_" > 4000
    AND "PAYLOAD_MASS__KG_" < 6000;
    '''
    cur.execute(query)

    # Fetch and display the results
    boosters = cur.fetchall()
    print("Boosters with success in drone ship and payload mass between 4000 and 6000:")
    for booster in boosters:
        print(booster[0])

finally:
    # Close the connection
    con.close()

Boosters with success in drone ship and payload mass between 4000 and 6000:
BoosterVersion

### Task 7




##### List the total number of successful and failure mission outcomes

In [78]:
import sqlite3
import pandas as pd

# Load the dataset into SQLite
df = pd.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/data/Spacex.csv")

# Establish SQLite database connection
con = sqlite3.connect("my_data1.db")
df.to_sql("SPACEXTBL", con, if_exists='replace', index=False, method="multi")

# Ensure the connection is open before running the query
try:
    # Create a cursor object
    cur = con.cursor()

    # SQL query to count successful and failed mission outcomes
    query = '''
    SELECT "Mission_Outcome", COUNT(*) AS Count
    FROM SPACEXTBL
    GROUP BY "Mission_Outcome";
    '''
    cur.execute(query)

    # Fetch and display the results
    outcomes = cur.fetchall()
    print("Mission Outcomes:")
    for outcome in outcomes:
        print(f"{outcome[0]}: {outcome[1]}")

finally:
    # Close the connection
    con.close()

Mission Outcomes:
Failure (in flight): 1
Success: 98
Success : 1
Success (payload status unclear): 1

### Task 8



##### List the   names of the booster_versions which have carried the maximum payload mass. Use a subquery

In [88]:
import sqlite3
import pandas as pd

# Load the dataset into SQLite
df = pd.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/data/Spacex.csv")

# Establish SQLite database connection
con = sqlite3.connect("my_data1.db")
df.to_sql("SPACEXTBL", con, if_exists='replace', index=False, method="multi")

# Ensure the connection is open before running the query
try:
    # Create a cursor object
    cur = con.cursor()

    # SQL query to find booster versions carrying maximum payload mass
    query = '''
    SELECT Booster_Version
    FROM SPACEXTBL
    WHERE PAYLOAD_MASS__KG_ = (
        SELECT MAX(PAYLOAD_MASS__KG_)
        FROM SPACEXTBL
    );
    '''
    cur.execute(query)
   


    # Fetch and display the result
    result = cur.fetchall()
    print("Booster Versions with Maximum Payload Mass:")
    for row in result:
        print(row[0])

finally:
    # Close the connection
    con.close()

Booster Versions with Maximum Payload Mass:
F9 B5 B1048.4
F9 B5 B1049.4
F9 B5 B1051.3
F9 B5 B1056.4
F9 B5 B1048.5
F9 B5 B1051.4
F9 B5 B1049.5
F9 B5 B1060.2
F9 B5 B1058.3
F9 B5 B1051.6
F9 B5 B1060.3
F9 B5 B1049.7

### Task 9


##### List the records which will display the month names, failure landing_outcomes in drone ship ,booster versions, launch_site for the months in year 2015.

**Note: SQLLite does not support monthnames. So you need to use  substr(Date, 6,2) as month to get the months and substr(Date,0,5)='2015' for year.**

In [100]:
import sqlite3
import pandas as pd

# Load the dataset into SQLite
df = pd.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/data/Spacex.csv")
con = sqlite3.connect("my_data1.db")
df.to_sql("SPACEXTBL", con, if_exists='replace', index=False, method="multi")

# Execute the query
try:
    cur = con.cursor()

    # SQL query to get the required records
    query = '''
    SELECT substr(Date, 6, 2) AS Month,
           "Landing _Outcome" AS Landing_Outcome,
           "Booster Version" AS Booster_Version,
           "Launch Site" AS Launch_Site
    FROM SPACEXTBL
    WHERE "Landing _Outcome" = 'Failure (Landing _Outcome)'
      AND substr(Date, 0, 5) = '2015';
    '''

    cur.execute(query)
    records = cur.fetchall()

    # Display the results
    print("Records for the year 2015 with failure outcomes in drone ship:")
    for record in records:
        print(record)

finally:
    # Close the connection
    con.close()

Records for the year 2015 with failure outcomes in drone ship:

### Task 10




##### Rank the count of landing outcomes (such as Failure (drone ship) or Success (ground pad)) between the date 2010-06-04 and 2017-03-20, in descending order.

In [99]:
import sqlite3
import pandas as pd

# Load the dataset into SQLite
df = pd.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/data/Spacex.csv")
con = sqlite3.connect("my_data1.db")
df.to_sql("SPACEXTBL", con, if_exists='replace', index=False, method="multi")

# Execute the query
try:
    cur = con.cursor()

    # SQL query to rank landing outcomes
    query = '''
    SELECT "Landing _Outcome" AS Landing_Outcome, 
           COUNT(*) AS Outcome_Count
    FROM SPACEXTBL
    WHERE Date BETWEEN '2010-06-04' AND '2017-03-20'
    GROUP BY "Landing _Outcome"
    ORDER BY Outcome_Count DESC;
    '''

    cur.execute(query)
    records = cur.fetchall()

    # Display the results
    print("Ranking of landing outcomes (2010-06-04 to 2017-03-20):")
    for record in records:
        print(f"{record[0]}: {record[1]}")

finally:
    # Close the connection
    con.close()

Ranking of landing outcomes (2010-06-04 to 2017-03-20):
Landing _Outcome: 31

### Reference Links

* <a href ="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20String%20Patterns%20-%20Sorting%20-%20Grouping/instructional-labs.md.html?origin=www.coursera.org">Hands-on Lab : String Patterns, Sorting and Grouping</a>  

*  <a  href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20Built-in%20functions%20/Hands-on_Lab__Built-in_Functions.md.html?origin=www.coursera.org">Hands-on Lab: Built-in functions</a>

*  <a  href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20Sub-queries%20and%20Nested%20SELECTs%20/instructional-labs.md.html?origin=www.coursera.org">Hands-on Lab : Sub-queries and Nested SELECT Statements</a>

*   <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Module%205/DB0201EN-Week3-1-3-SQLmagic.ipynb">Hands-on Tutorial: Accessing Databases with SQL magic</a>

*  <a href= "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Module%205/DB0201EN-Week3-1-4-Analyzing.ipynb">Hands-on Lab: Analyzing a real World Data Set</a>

## Author(s)

<h4> Lakshmi Holla </h4>

## Other Contributors

<h4> Rav Ahuja </h4>

<!--
## Change log
| Date | Version | Changed by | Change Description |
|------|--------|--------|---------|
| 2024-07-10 | 1.1 |Anita Verma | Changed Version|
| 2021-07-09 | 0.2 |Lakshmi Holla | Changes made in magic sql|
| 2021-05-20 | 0.1 |Lakshmi Holla | Created Initial Version |
-->

## <h3 align="center"> © IBM Corporation 2021. All rights reserved. <h3/>